.filter {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,177,252,1) 0%, rgba(169,41,151,1) 90%);
}

table {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height:200px;
    border-collapse: collapse;
    border-spacing: 0ch;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    
    
}
td
{
    padding-left: 15px;
}

tr:nth-child(even)
{
    background-color: rgb(230, 228, 228);
}
th {
    background-color: rgb(18, 22, 44);
    color: rgb(248, 248, 248);
   
  
}


th:nth-child(3){
    text-align: left;
}
th:nth-child(2){
    text-align: left;
}
th:nth-child(1){
text-align: left;
}
td:nth-child(2){
    text-align: left;
}
td:nth-child(3){
    text-align: left;
}
td:nth-child(4){
    text-align: center;
}
td:nth-child(5){
    text-align: right;
}
td:nth-child(6){
    text-align: center;
}
th:nth-child(1){
border-radius: 12px 0px 0px 0px;
padding-left: 20px;}
th:nth-child(6){
    border-radius: 0px 12px 0px 0px;}
